body {
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.8rem;
  color: #5B0012;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5B0012;
  background-image: url('./assets/background.png');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stylizedText {
  font-size: 4rem;
  font-weight: 400;
  font-family: 'Crimson Text', serif;
}
